@import url('https://fonts.googleapis.com/css2? family=Averia+Libre:ital,wght@1,300&family=Averia+Serif+Libre:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
}

section {
    height: 100vh;
    padding-top: 65px;
}

#home h1,
#home h2 {
    margin-left: 20vw;
}

#home h1 {
    margin-top: 20vh;
}

.background {
    background-image: url(IMG-20220520-WA0035.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 50px;
    color: azure;
}

.background spam {
    color: rgb(0, 0, 0);
}

.background h2 {
    font-size: 50px;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.cabecalho_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    height: 60px;
    font-weight: 300;
    cursor: pointer;
    background-color: rgb(51, 52, 55);
    padding: 15px;
    position: fixed;
    width: 100%;
}

.cabecalho_link a {
    color: white;
    font-size: 20px;
    color: antiquewhite;
    transform: scale(1.2);
}

.cabecalho_link a:hover {
    color: antiquewhite;
    transform: scale(1.2);
}

.container-text {
    padding: 150px 0 0 130px;
}

.text h2 {
    font-size: 400px;
}

.formacao h1 {
    font-size: 40px;
    color: aquamarine;
    text-align: center;
    text-shadow: 0 0 30px rgba(0,0,0,.5);
    padding: 3rem;
    text-align: left;
}
.formacao h2{
    color:white;
    font-weight: bold;
    margin-left: 16vh;
    font-size: 25px;
}
.formacao h3{
    color: rgb(206, 158, 99);
    margin-left: 20vh;
    font-size: 22px;
}

.sobre {
    background-image: url(pexels-andrew-neel-2312369.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.sobre h1 {
    font-size: 60px;
    color: rgb(91, 114, 106);
    text-align: left;
    padding: 4rem;
}

.sobre h3 {
    color: rgb(189, 216, 203);
    width: 50vw;
    text-align: center;
    font-size: 22px;
}

.formacao {
    background-image: url(./coputador.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}